
.navbar-brand{
    font-family: 'Rowdies', cursive;
    color: rgba(248, 197, 45, 1) !important;
    font-size: 30px;
}
.nav-link {
    margin-right: 20px;
}
.jumbotron {
    background-image: url(/img/jumbotron.jpg);
    background-size: cover;
    height: 670px;
}
.style-white {
    font-family: 'Rowdies', cursive;
    text-shadow: white;
}
.lead {
    color: white;
    font-size: 15px;
}
.card-title {
    font-family: 'Rowdies', cursive;
    font-size: 30px;
}
.card-text {
    font-family: 'Sahitya', serif;
}
.space {
    margin-top: 10px;
}
